PORT=8000
MONGODB_URI=mongodb+srv://AlokDB:alok123@testdb.we8rvxy.mongodb.net/Backend_With_Chai_Or_Code
CORS_ORIGIN=*
JWT_SECRET= chai-or-code
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET =chai-or-backend
REFRESH_TOKEN_EXPIRES_IN=7d
CLAUDINARY_CLOUD_NAME=Alok18
CLAUDINARY_API_KEY=648879224679345
CLAUDINARY_API_SECRET=V9pG7agwkoaFllDtvcRsMdWaUr4